<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<% if current_user %>
  <%= "Welcome to cable car maker [Known user]!"  %>
  <% else %>
  <%= "Welcome to cable car maker Visitor!" %>
<% end %>
