<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<!-- app/views/articles/index.html.erb -->
<%= cl_image_tag("1f3b990770615a2a3351f24c3f9906c8",
      width: 400, height: 300, crop: :fill) %>
